@media screen and (min-width: 320px) and (max-width: 650px) {
    .multi-poke {
        flex-direction: column;
        margin: 2% auto;
    }
}

.multi-poke {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    background-color: #874e4c;
    border: 1px dashed #472426;
    border-radius: 2px;
}