@media screen and (min-width: 721px) and (max-width: 1440px) {
    header {
        display: flex;
        max-height: 90px;
        justify-content: left;
    }
    
    #logo-container {
        max-width: 65px;
    }
}

header {
    background-color: #e2b091;
    color: #472426;
    font-size: 2rem;
    text-align: center;
}

#logo, h1 {
    margin: 1.2% auto;
}

#logo {
    width: 10%;
    background: white;
    border-radius: 50%;
}